
<h2> Formulaire de Connexion </h2>

<form action="even/save" method="post" enctype="multipart/form-data">
	<input type="text" name="name" placeholder="Entrez votre nom"/>
	<input type="text" name="prénom" placeholder="Entrez votre nom"/>
    <input type="password" name="password" placeholder="Entrez votre mot de passe"/>
	<input type="submit" value="Enregistrer">
</form>